@page "/experiences"
@using WebShop.Data.ProductCategory
@using WebShop.Data.Experiences

@inject NavigationManager NavigationManager
@inject IProductCategoryService ProductCategoryService
@inject IExperienceService ExperienceService

<section class="py-20 bg-gray-100">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap -mx-4 mb-20 items-center justify-between">
            <div class="w-full lg:w-auto px-4 mb-12 xl:mb-0">
                <h2 class="text-5xl font-bold font-heading">
                    <span>Experiences</span>
                </h2>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3">
            <div class="w-full lg:hidden px-3">
                <div class="flex flex-wrap -mx-2">
                    <div class="w-1/2 md:w-1/3 px-2 mb-4">
                        <div class="py-6 px-2 text-center bg-gray-50">
                            <a class="font-bold font-heading" href="#">Category</a>
                            <ul class="hidden text-left mt-6">
                                @foreach (Category category in categories.Categories)
                                {
                                    <li class="mb-4">
                                        <a @onclick="() => OpenCategoryView(category.Id)">@category.CategoryName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-3/4 px-3">

                @foreach (Experience experience in experiences.Experiences)
                {
                    <div @onclick="() => OpenProductPage(experience.Id)" class="relative mb-6 bg-gray-50">
                        <div class="flex flex-wrap items-center -mx-4 px-8 md:px-20 py-12">
                            <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
                                <a href="#">
                                    <img class="mx-auto md:mx-0 w-40 h-52 object-contain" src="@experience.Picture" alt="">
                                </a>
                            </div>
                            <div class="w-full md:w-3/4 px-4">
                                <a class="block mb-8" href="#">
                                    <h3 class="mb-2 text-xl font-bold font-heading">@experience.Name</h3>
                                    <p class="mb-6 text-lg font-bold font-heading text-blue-500">
                                        <span>@experience.Price</span>
                                        @* <span class="text-xs text-gray-500 font-semibold font-heading line-through">$33.69</span> *@
                                    </p>
                                    <p class="max-w-md text-gray-500">@experience.Description</p>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="hidden lg:block w-1/4 pl-8 pr-3">
                <div class="mb-6 py-10 border-b border-gray-900">
                    <h3 class="mb-8 text-2xl font-bold font-heading">Category</h3>
                    <ul>
                        @foreach (Category category in categories.Categories)
                        {
                            <li class="mb-4">
                                <a @onclick="() => OpenCategoryView(category.Id)" class="text-lg">@category.CategoryName</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="mb-6 py-10">
                    <h3 class="mb-6 text-2xl font-bold font-heading">Location</h3>
                    <input class="w-full px-8 py-4 bg-white border rounded-md" type="serach" placeholder="City">
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private CategoryList categories = new();
    private ExperienceList experiences = new();

    protected override async Task OnInitializedAsync()
    {
        categories = await ProductCategoryService.GetAllCategoriesAsync();
        experiences = await ExperienceService.GetAllExperiences();
    }

    private void OpenProductPage(int productId)
    {
        NavigationManager.NavigateTo($"/experiences/{productId}");
    }

    private void OpenCategoryView(int categoryId)
    {
        NavigationManager.NavigateTo($"/categories/{categoryId}");
    }

}