@page "/Providers"
@using GrpcFileGeneration.Models
@using ClientBlazor.Data.Providers
@inject NavigationManager NavigationManager
@inject IProviderService ProviderService


@if (providers == null)
{
    <p class="text-center">
        <em>Loading...</em>
    </p>
}
else if (!providers.Providers.Any())
{
    <p class="text-center">
        <em>No Providers currenlty exist. Please approve some.</em>
    </p>
}
else
{
    <section class="container mx-auto p-6 font-mono">
        <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
            <div class="hidden my-2 lg:flex lg:w-auto lg:space-x-10">
                <div class="hidden lg:flex items-center mr-auto pl-4 border rounded">
                    <button class="mr-2 text-gray-200 hover:text-gray-300" @onclick="FetchFilteredProviders">
                        <svg class="h-5 w-5" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.7 19.3L17 15.6C20.1 11.7 19.5 6 15.6 2.9C11.7 -0.2 5.99999 0.5 2.89999 4.3C-0.200006 8.2 0.499995 13.9 4.29999 17C7.59999 19.6 12.3 19.6 15.6 17L19.3 20.7C19.7 21.1 20.3 21.1 20.7 20.7C21.1 20.3 21.1 19.7 20.7 19.3ZM9.99999 17C6.09999 17 2.99999 13.9 2.99999 10C2.99999 6.1 6.09999 3 9.99999 3C13.9 3 17 6.1 17 10C17 13.9 13.9 17 9.99999 17Z" fill="currentColor"></path>
                        </svg>
                    </button>
                    <input class="pl-2 py-3 text-sm text-gray-500" type="text" placeholder="Type to search..." @bind="name">
                </div>
            </div>
            <div class="w-full overflow-x-auto">
                <table class="w-full">
                    <thead>
                    <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                        <th class="px-4 py-3">Company Name</th>
                        <th class="px-4 py-3">CVR</th>
                        <th class="px-4 py-3">Description</th>
                        <th class="px-4 py-3">Phone Number</th>
                        <th class="px-4 py-3">City</th>
                        <th class="px-4 py-3">Street</th>
                        <th class="px-4 py-3">Street Number</th>
                        <th class="px-4 py-3">Post Code</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white">
                    @foreach (var item in providers.Providers)
                    {
                        <tr class="text-gray-700" @onclick="() => OpenExperienceView(item)">
                            <td class="px-4 py-3 text-ms font-semibold border">@item.CompanyName</td>
                            <td class="px-4 py-3 text-ms font-semibold border">@item.Cvr</td>
                            <td class="px-4 py-3 text-ms font-semibold border">@item.Description</td>
                            <td class="px-4 py-3 text-ms font-semibold border">@item.PhoneNumber</td>
                            <td class="px-4 py-3 text-ms font-semibold border">@item.Address.City</td>
                            <td class="px-4 py-3 text-ms font-semibold border">@item.Address.Street</td>
                            <td class="px-4 py-3 text-ms font-semibold border">@item.Address.StreetNumber</td>
                            <td class="px-4 py-3 text-ms font-semibold border">@item.Address.PostCode</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}

@code {
    private string name = "";
    private ProviderList providers;

    protected override async Task OnInitializedAsync()
    {
        providers = await ProviderService.GetAllProviders();
    }

    private void OpenExperienceView(Provider provider)
    {
        NavigationManager.NavigateTo($"/ProviderExperiences/{provider.Id}");
    }

    private async Task FetchFilteredProviders()
    {
        providers = new();
        providers = await ProviderService.GetAllProvidersByNameAsync(name);
    }

}