@page "/providers"
@using GrpcFileGeneration.Models
@using ClientBlazor.Data.Providers
@using ProviderList = ClientBlazor.Models.Orders.ProviderList
@inject NavigationManager NavigationManager
@inject IProviderService ProviderService
@attribute [Authorize(Roles = "administrator")]



<div class="py-6">
    @if (providers.Content == null)
    {
        <p class="text-center">
            <em>Loading...</em>
        </p>
    }
    else if (!providers.Content.Providers.Any())
    {
        <p class="text-center">
            <em>No providers currenlty exist. Please add some.</em>
        </p>
    }
    else
    {
        <section class="">
            <div class="container px-4 mx-auto">
                <div class="p-4 mb-6 bg-white shadow rounded">
                    <table class="table-auto w-full">
                        <thead>
                        <tr class="text-xs text-gray-500 text-left">
                            <th class="pb-3 font-medium">Company Name</th>
                            <th class="pb-3 font-medium">CVR</th>
                            <th class="pb-3 font-medium">Description</th>
                            <th class="pb-3 font-medium">Phone Number</th>
                            <th class="pb-3 font-medium">City</th>
                            <th class="pb-3 font-medium">Street</th>
                            <th class="pb-3 font-medium">Street Number</th>
                            <th class="pb-3 font-medium">Post Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var provider in providers.Content.Providers.Select((value, i) => new {value, i}))
                        {
                            <tr class="@(provider.i % 2 == 0 ? "bg-gray-50" : "bg-white") cursor-pointer hover:bg-indigo-50 text-xs">
                                <td class="py-3 px-4">
                                    <p class="font-medium align-middle">@provider.value.CompanyName</p>
                                </td>
                                <td class="py-3 px-4">
                                    <p class="font-medium align-middle">@provider.value.Cvr</p>
                                </td>
                                <td class="py-3 px-4">
                                    <p class="font-medium align-middle">@provider.value.Description</p>
                                </td>
                                <td class="py-3 px-4">
                                    <p class="font-medium align-middle">@provider.value.PhoneNumber</p>
                                </td>
                                <td class="py-3 px-4">
                                    <p class="font-medium align-middle">@provider.value.Address.City</p>
                                </td>
                                <td class="py-3 px-4">
                                    <p class="font-medium align-middle">@provider.value.Address.Street</p>
                                </td>
                                <td class="py-3 px-4">
                                    <p class="font-medium align-middle">@provider.value.Address.StreetNumber</p>
                                </td>
                                <td class="py-3 px-4">
                                    <p class="font-medium align-middle">@provider.value.Address.PostCode</p>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    }
</div>


@code {
    private string name = "";
    private Page<ProviderList> providers = new();
    private int pageNumber = 0;

    protected override async Task OnInitializedAsync()
    {
        providers = await ProviderService.GetAllProviders(pageNumber);
    }
}